<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">CATOGRAPHY</span>
  </div>
</nav>

<div class="container">
  <div class="d-flex justify-content-center">
      <div class="card" style="width: 40rem;">
        <div>
          <h1>~Meow Meow Meow~</h1>
        </div>
        <img src="<%= @cat_lookup.first.dig("url") %>" class="card-img-top" alt="cat_png">

        <div>
          <a href="/">
            <button type="button" class="btn btn-info">Purrprise me!</button>
          </a>
        </div>
      </div>
  </div>
</div>
